 

.title {
    font-size: 20px;
    text-align:center;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 25px;
    color:#1abc9c;
    padding: 0;
    background: none !important;

}

/************************Call US *********/
.call-us{
    position:relative;
    border-radius: 3px;
    padding: 30px;
}
.call-us.left{
    float: none !important;
}
.call-us.left .description{
    width: 70%;
}
.call-us.right .description{
    width: 70%;
    float: right;
}
.call-us .content span{
    color:#1abc9c;
}
.call-us .content h3 {
    font-weight: 700;
    margin-bottom: 0;
}
.call-us .content p {
    color: #444;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-top: 6px;
}
 

.call-us a.button {
    margin: 0 0;
    position: absolute;
    top: 50%;
    right: 0;
     
}
.call-us a.button:hover{
    color:#fff;
    text-decoration:none;
}
.call-us .button.button-rounded {
    border-radius: 3px;
}
.call-us .button.button-xlarge {
    font-size: 18px;
    height: 52px;
    letter-spacing: 2px;
    line-height: 52px;
    padding: 0 32px;
}


/************************Call US Border *********/
.call-us.border{
    border: 1px solid #e5e5e5;
}
 
.call-us.border a.button { 
    right: 30px;   
}
.call-us.left a.button {    
    right: 30px !important;
    left: inherit !important;   
}
 
/************************Call US Border Center *********/
.call-us.center{
    text-align:center;
}
.call-us.center a.button {
    left: 0 !important;
    margin: 00px 0 0;
    position: relative;
    right: 0;
    top: 0
}
 
/************************Call US Border Right *********/
.call-us.right{
     
    overflow: hidden;
    margin: 0;
    float: none !important;
}
.call-us.right a.button {    
    left: 30px !important;
    right: inherit !important;   
}

/************************Call US Light *********/
 

.call-us {
    background-color      : var(--background-color);
    background-position   : var(--background-position);
    background-repeat     : var(--background-repeat);
    background-attachment : var(--background-attachment);
    background-origin     : var(--background-origin);
    background-size       : var(--background-size);
    margin-bottom         : var(--margin-bottom);
    background-image      : var(--background-image);
    }

.call-us.gradient {
    background-image : linear-gradient(
            var(--gradient-position),
            var(--gradient-start-color) var(--gradient-start-location),
            var(--gradient-color-stop-1) var(--gradient-color-stop-1-location),
            var(--gradient-end-color) var(--gradient-end-location)
    );
    }
.call-us.light a.button {
    right: 30px;
    transition: all 0.3s ease-in-out 0s;  
}
.call-us.light a.button:hover{
    color:#000;
    text-decoration:none;
    background:#fff;
}

/************************Call US Parallax *********/
.call-us.parallax{
    color:#fff;
    border-radius: 3px;
    padding: 50px 40px;
    background:url(../images/parallax.jpg);
    background-attachment: fixed;
    background-color: transparent;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 0px; 
}
.call-us.parallax p {
    color: #fff;    
}
.call-us.parallax a.button {    
    right: 40px;
    transition: all 0.3s ease-in-out 0s;
}
.call-us.parallax a.button:hover{
    color:#000;
    text-decoration:none;
    background:#fff;
}
/************************Call US Full Width *********/
 
.container-fluid .call-us a.button {
    right: 30px;  
}


/*******************Button Default************************/

.button {
    display: inline-block;
    outline: 0;
    white-space: nowrap;
    margin: 5px 0;
    font-size: 14px;
    height: 40px;
    line-height: 24px;
    background-color: #1ABC9C;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    position:relative;
    padding:7px 25px !important;
    border-radius: 3px;
    border:2px solid #fff;
    transition: all 0.4s ease 0s;
    font-weight:bold;
}
.button i {
    margin-right: 5px;
    width: 16px;
    text-align: center;
}

.button.button-curved {
    border-radius: 8px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    transition: all 0.4s ease 0s;
}
.button.iconic {
    border-radius: 3px;
}
.button.iconic:hover {
    opacity: 1;
}
.button {
    color: #fff;
    background-color: var(--color);
}
.button:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    text-decoration:none;
    opacity: .7;
    color: #fff;
}
 

/*****************************Mini 3D Buttons*****************/
.button.button-mini {
    padding: 0 14px !important;
    font-size: 11px;
    height: 35px;
    line-height: 32px;
}
/*****************************Small 3D Buttons *****************/
.button.button-small {
    padding: 0 17px !important;
    font-size: 12px;
    height: 35px;
    line-height: 32px;
}
/*****************************Large 3D Buttons*****************/
.button.button-large {
    padding: 0 26px !important;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
}
/*****************************Extra Large 3D Buttons*****************/
.button.button-xlarge {
     padding: 0 32px !important;
     font-size: 20px;
     letter-spacing: 2px;
     height: 52px;
     line-height: 52px;
}

/*****************************Icon Reveal Buttons*****************/

.button.icon-reveal {
    padding: 0 32px;
}
.button.icon-reveal i {
    left: -38px;
    width: 38px;
    height: 100%;
    transition: left .3s ease,right .3s ease;
}
.button.icon-reveal:hover i {
    left: 0;
}
.button.icon-reveal.button-rounded i {
    border-radius: 3px 0 0 3px;
}
.button.icon-reveal i {
    display: block;
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,.1);
}
.button.icon-reveal {
    padding: 0 28px;
    overflow: hidden;
}
.button.icon-reveal:hover span {
    left: 16px;
}
.button.icon-reveal span {
    display: inline-block;
    position: relative;
    left: 0;
    -webkit-transition: left .3s ease,right .3s ease;
    -o-transition: left .3s ease,right .3s ease;
    transition: left .3s ease,right .3s ease;
}

/*****************************Icon Right Reveal Buttons*****************/

.button.icon-reveal.tright i {
    left: auto;
    right: -38px;
}
.button.icon-reveal.tright:hover i {
    left: auto;
    right: 0;
}
.button.icon-reveal.tright:hover span {
    left: -19px;
}
/*****************************Simple Dark Buttons*****************/
.button-dark {
    background-color: #444;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.button.button-dark:hover {
    background-color: #1ABC9C;
}

/*****************************Border Buttons*****************/
.button.button-border {
    border: 2px solid #444;
    background-color: transparent;
    color: #333;
    height:100%;
    font-weight: 600;
    text-shadow: none;
}
.button.button-border:hover{
    background-color: #444;
    color: #FFF;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

 
 

 
 