#Wrapper {
    margin: 0 auto;
    overflow: hidden;
}
.container,.container-full{
   padding:50px 0;
}
.with-background{
    background:#f6f6f6;
}
.text-title {
    font-size: 20px;
    text-align:center;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 50px;
    color:#525252;

}

/********************Testimonial **************/
.testimonial{
    position:relative;
}
.testimonial .photo img {
    display: block;
    height: 64px;
    width: 64px;
}
.testimonial .photo img {
    border-radius: 50%;
}
.testimonial .photo {
    float: left;
    margin-right: 15px;
}
.testimonial .quote {
    overflow: hidden;
    font-style:italic;
}
.testimonial .quote p{
    margin-bottom: 10px;
}
.testimonial .info:before {
    content: "–";
}
.testimonial .info {
    font-size: 13px;
    font-weight: 700;
    margin-top: 0px;
    text-transform: uppercase;
}
.testimonial .info p{
    margin:0;
    display: inline-block;
}
.testimonial .info span {
    color: #999;
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding-left: 10px;
    text-transform: none;
}

/********************Testimonial Grid 3**************/
.testimonial-grid ul{
    overflow:hidden;
    padding:0;
}
.testimonial-grid ul li:before {
    border-left: 1px dashed #ddd;
    height: 100%;
    left: -1px;
    top: 0;
}
.testimonial-grid ul li:after, .testimonial-grid ul li:before{
    content: "";
    position: absolute;
}
.testimonial-grid ul li:after {
    border-bottom: 1px dashed #ddd;
    bottom: -1px;
    height: 0;
    left: 0;
    top: auto;
    width: 100%;
}
.testimonial-grid.grid-3 ul li {
    float: left;
    padding: 25px;
    position: relative;
    width: 33.33%;
    list-style:none;
}

/********************Testimonial Grid 2**************/
 
.testimonial-grid.grid-2 li {
    float: left;
    padding: 25px;
    position: relative;
    width: 50%;
    list-style:none;

}
 