 
.feature-box .title{
    background: none;
}
/**************Feature Box*********/
.feature-box{
    text-align: center;
    color:#000;
    overflow: hidden;
}
.feature-box .icon i{
    font-size:35px;
}
.feature-box .description{
    padding:10px 0px;
    line-height:22px;
    margin-bottom:10px;
}
 
/**************Fbox Large Icon Effect*********/
.fbox-large .icon {
	display: inline-block;
	font-size: 35px;
	padding:0px 0;
	color:#fff;
	cursor: pointer;
	margin: 15px 0px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: relative;
	z-index: 1;
}

.fbox-large .icon:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #d1d1d1;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}

.fbox-large .icon:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	display: block;

}
.fbox-large .icon {
	background: rgba(10, 180, 140, 0.9);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
    text-align: center;
}
 
.fbox-large .icon:hover {
	background: rgba(209,209,209,1);
	color: #06c699;
}
.fbox-large .icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/**************Fbox Border Icon Effect *********/
  .fbox-border {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0 ;
}
  .fbox-border .icon {
    display: inline-block;
    font-size: 35px;
    padding:0px 0;
    color:#1ABC9C;
    cursor: pointer;
    margin: 0px 0px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 4px #1ABC9C;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.fbox-border .icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #1ABC9C;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s,  
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.fbox-border .icon:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
} 
 .fbox-border .icon:hover {
    color: #fff;
}
 .fbox-border .icon:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/**********************Icon Half Border Effect****************/
.fbox-half-border .icon{
    display: inline-block;
    cursor: pointer;
    margin: 15px 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
     color: #1ABC9C;
    line-height: 60px;
    box-shadow: 0 0 0 4px rgba(26,188,156,1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s; 
}

.fbox-half-border .icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;

    box-shadow: 3px 3px rgba(26,188,156,1);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;

    top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
}

.fbox-half-border .icon:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
 
.fbox-half-border .icon:hover {
    color: #1ABC9C;
} 
.fbox-half-border .icon:hover:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.fbox-half-border .icon:hover:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
} 
/**************Icon Left ****************/
.icon-left .icon-area{
    float:left;
    width:35%;
}
.icon-left .content-box{
    max-width: 500px;
    width: 65%;
    float:left;
    text-align: left;
}
.content-box .title{
    margin: 20px 0 10px !important;
}
/**************Icon Plain*********/


.center .icon-plain{
    color:#000;
     
}
.icon-left .icon-plain{
    color:#000;
    text-align: center;   
}
.icon-plain .icon-area{
    display: table;
    float: none;
    position: relative;
    width: 100%;
}

.icon-plain .icon-area .icon{
    font-size:35px;
    display:inline-block;
    float:left;


}
.icon-plain .title {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

/***********************Icon Box Hover***********/

.icon-box-hover{
    padding:30px;
    transition: all 0.8s ease;
    color:#000;
}
.icon-box-hover a.button{
    color: #000;
}
.icon-box-hover:hover{
    background:#efefef;
}

/*******************Button Default************************/

.button {
    display: inline-block;
    
    outline: 0;
    white-space: nowrap;
    margin: 5px 0 !important;
    font-size: 14px;
    height: 40px !important;
    line-height: 24px !important;
    background-color: #1ABC9C;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    position:relative;
    padding:7px 25px !important;
    border-radius: 3px;
     
    border:2px solid #fff;
    transition: all 0.4s ease 0s;
    font-weight:bold;
}
.button i {
    margin-right: 5px;
    width: 16px;
    text-align: center;
}

.button.button-curved {
    border-radius: 50px;
    
    -webkit-transition: none;
    -o-transition: none;
    transition: none;

    transition: all 0.4s ease 0s;
}
 
.button.iconic {
    border-radius: 3px;
}
.button.iconic:hover {
    opacity: 1;
}


.button {
    color: #fff;
    background-color: var(--color);
}


.button:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    text-decoration:none;
    opacity: .7;
    color: #fff;
}
 

/*****************************Mini 3D Buttons*****************/
.button.button-mini {
    padding: 0 14px;
    font-size: 11px;
    height: 35px;
    line-height: 32px;
}
/*****************************Small 3D Buttons *****************/
.button.button-small {
    padding: 0 17px;
    font-size: 12px;
    height: 35px;
    line-height: 32px;
}
/*****************************Large 3D Buttons*****************/
.button.button-large {
    padding: 0 26px;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
}
/*****************************Extra Large 3D Buttons*****************/
.button.button-xlarge {
     padding: 0 32px;
     font-size: 18px;
     letter-spacing: 2px;
     height: 52px;
     line-height: 52px;
}

/*****************************Icon Reveal Buttons*****************/

.button.icon-reveal {
    padding: 0 32px;
}
.button.icon-reveal i {
    left: -38px;
    width: 38px;
    height: 100%;
    transition: left .3s ease,right .3s ease;
}
.button.icon-reveal:hover i {
    left: 0;
}
.button.icon-reveal.button-rounded i {
    border-radius: 3px 0 0 3px;
}
.button.icon-reveal i {
    display: block;
    position: absolute;
    top: 0;
    left: -32px;
    width: 32px;
    margin: 0;
    text-align: center;
    background-color: rgba(0,0,0,.1);
}
.button.icon-reveal {
    padding: 0 28px;
    overflow: hidden;
}
.button.icon-reveal:hover span {
    left: 16px;
}
.button.icon-reveal span {
    display: inline-block;
    position: relative;
    left: 0;
    -webkit-transition: left .3s ease,right .3s ease;
    -o-transition: left .3s ease,right .3s ease;
    transition: left .3s ease,right .3s ease;
}

/*****************************Icon Right Reveal Buttons*****************/

.button.icon-reveal.tright i {
    left: auto;
    right: -38px;
}
.button.icon-reveal.tright:hover i {
    left: auto;
    right: 0;
}
.button.icon-reveal.tright:hover span {
    left: -19px;
}
/*****************************Simple Dark Buttons*****************/
.button-dark {
    background-color: #444;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.button.button-dark:hover {
    background-color: #1ABC9C;
}

/*****************************Border Buttons*****************/
.button.button-border {
    border: 2px solid #444;
    background-color: transparent;
    color: #333;
    height:100%;
    font-weight: 600;
    text-shadow: none;
}
.button.button-border:hover{
    background-color: #444;
    color: #FFF;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

 
 