#Wrapper {
    margin: 0 auto;
    overflow: hidden;
}
.container{
   padding:50px 0;
}
.container-fluid{
    width: 100%;
    padding: 50px 0 !important;
}

.text-title {
    font-size: 20px;
    text-align:center;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 25px;
    color:#1abc9c;

}

/************************Heading**********************/

h1,h2,h3,h4,h5,h6{ 
    color: #444;
    font-weight: 600;
    line-height: 1.5;
    margin: 0px !important; 
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
    font-weight: 600;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
h1 > span,h2 > span,h3 > span,h4 > span,h5 > span,h6 > span{
    color: #1ABC9C;
}
h5, h6 {
    margin-bottom: 20px;
    font-weight: 700 !important;
}

.title{
    margin-bottom: 30px;

}
.title h1,.title h2,.title h3,.title h4,.title h5,.title h6 {
    position: relative;
    display: inline-block;
    color: var(--textcolor);
    margin-bottom: 0;
}
.border-inline h1,.border-inline h2,.border-inline h3,.border-inline h4,.border-inline h5,.border-inline h6,
.border-bottom h1,.border-bottom h2,.border-bottom h3,.border-bottom h4,.border-bottom h5,.border-bottom h6
 {
    background-color: #FFF;
}
.text-center{
    text-align: center;
}
.text-center h1,.text-center h2,.text-center h3,.text-center h4,.text-center h5,.text-center h6 {
    padding: 0 15px;
}
.text-left{
    text-align: left;
}
.text-left h1,.text-left h2,.text-left h3,.text-left h4,.text-left h5,.text-left h6 {
    padding-right: 15px;
}
.text-right{
    text-align: right;
}
.text-right h1,.text-right h2,.text-right h3,.text-right h4,.text-right h5,.text-right h6 {
    padding-left: 15px;
}
 
.border-inline:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: auto;
    top: 50%;
    right: 0;
}
.border-inline{
    position: relative;
}

.border-bottom:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: auto;
    top: 100%;
    right: 0;
    margin-top: 10px;
}
.border-bottom{
    position: relative;
}
 

/********************************Border Block**********/

.border-left-block {
    padding: 2px 0 3px 20px;
    border-left: 7px solid ;
    margin-bottom: 30px;
    
    text-align: left !important;
}
.border-left-block {
    border-color: var(--color);

 }
.border-left-block span.icon,.border-bottom span.icon,.border-inline span.icon {
    display: none;
    
}

/************************************Border Style************/
.double:before{ 
    border-top: 3px double #E5E5E5;  
}

.single:before{  
    border-top: 1px solid #EEE;  
}
.dashed:before {
    border-top: 1px dashed #8c8b8b;
}
.shadow:before{
    height: 6px;
    border: 0;
    box-shadow: 0px 9px 6px -12px #8c8b8b inset;
}
.dotted:before {
    border-top: 1px dotted #8c8b8b;
}
.double-dashed:before {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}
.hash:before {
    background: url(../preview-img/hash.png) repeat-x;
    height: 6px;
}
.arrow:before {
    background: url(../preview-img/arrow.png) repeat-x;
    height: 6px;
}
.gradient:before {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
.double-dotted:before {
    background: url(../preview-img/dotted.png) center repeat-x;
    height: 6px;
     
}
/******************Border Bottom Block****************/
 
.border-bottom-block h1,.border-bottom-block h2,.border-bottom-block h3,.border-bottom-block h4,.border-bottom-block h5,.border-bottom-block h6{
    display: block;
}
.border-bottom-block span.icon {
    color: #dadada;
    padding: 0 10px;
    font-size: 13px;
    line-height: 18px;
    position: relative;
    display: inline-block;
}
.text-left.border-bottom-block span.icon{
    left:6%;
}
.text-right.border-bottom-block span.icon{
    right:6%;
}
.border-bottom-block span.icon:before {
    left: 100%;
}
.border-bottom-block span.icon:after {
    right: 100%;
}
.border-bottom-block span.icon:before, .border-bottom-block span.icon:after {
    content: "";
    background: #dadada;
    width: 50px;
    height: 1px;
    top: 8px;
    position: absolute;
}


