
/************************Team *********/
 
.team {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.team img {
    width: 100%;
}
.team .caption {
    padding: 15px 0;
    background-color: #f9f9f9;
    color: #313131;
    text-align: center;
}
.team h3 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
}
.team h3 small {
    font-size: 11px;
    color: #a3a2a2;
    text-transform: uppercase;
}