#Wrapper {
    margin: 0 auto;
    overflow: hidden;
}
.container,.container-full{
   padding:50px 0;
}
.with-background{
    background:#f6f6f6;
}
.text-title {
    font-size: 20px;
    text-align:center;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 50px;
    color:#525252;

}

/************************Testimonial*********/
.carousel .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}

.carousel .item img{
    width:40%;
    height:40%;
    margin:0 auto;
}
.carousel .shadow-effect p {

    font-size: 16px;
    line-height: 1.4;
    margin: 17px 0 17px 0;
    font-weight: 300;
}
.carousel .testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
.carousel .item {
    text-align: center;
    padding: 0px;
    margin-bottom:0px;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
 
.carousel .owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
 

/*******************Testimonial Full Carousel ****************/


.bubble .item{
    width: 100%;
}
.bubble .quote {
  background: #3E3831;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  color:#ffac0c;
}

.bubble .quote p{
    padding-left:20px;
    color: #ffac0c ;
}
.bubble .quote:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #3E3831 transparent transparent transparent;
    position: relative;
    top: 37px;
    left: 20px;
}

.bubble .info {
    margin-left: 25px;
    margin-bottom: 80px;
}

.bubble .info .photo {
    background-color: #ccc;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}
.bubble .info p {
    position: relative;
    top: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.photo img {
  display: block;
  height: 80px;
  width: 80px;
}
.photo img {
  border-radius: 50%;
}
 

/*******************Ticker*************/

.testimonial-area{
  background: #ffac0c;
  overflow:hidden;
}
.ticker {
  background: #222;
  padding: 25px 14px 40px;
  position: relative;
  margin:15px 0;
  max-width: 330px;
}
.ticker .title {
  font-size: 20px;
  color: #BBB;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 4px solid #ffac0c;
  margin-bottom:10px;
}
.ticker .item {
  margin-right: 10px;
}
.ticker .item .block {
  border: 1px solid #333;
  padding: 10px;
}
.ticker .item .block p {
  color: #888;
}
.ticker .item .block .info {
  color: #ffac0c;
}
.ticker .owl-dots {
  left: 8px;
  position: absolute;
}
.ticker.owl-carousel .owl-dots span {
  width: 20px !important;
  height: 6px !important;
  border-radius: 2px !important;
}
.ticker .owl-dots .owl-dot.active span{
  background: #ffac0c !important;
}
.col-carousel .info{
  color:#ffac0c;
}
.ticker .owl-carousel .owl-item img {
    display: block;
    width: 24%;
    -webkit-transform-style: preserve-3d;
    margin-bottom: 15px;
}


/********************Testimonial Carousel Box **************/
.block{
  position:relative;
}
.box .info{
  overflow: hidden;
}

.box .photo {
  float: left;
  margin-right: 15px;

}
.box .quote {
  overflow: hidden;
  font-style:italic;
}
.box .info p:before {
  content: "–";
}
 .info p {
  font-size: 13px;
  font-weight: 700;
  margin: 5px 0;
  font-style:italic;
  text-transform: uppercase;
}
 .info span {
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  text-transform: none;
  font-style:italic;
}
.box .block {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin:10px;
}
.box.box-1 .quote{
  text-align: center;
}
.box.box-1 .info{
  text-align: center;
}
.box.box-1 .photo img{
  margin: 0 auto;
}
.box.box-1 .photo{
  float: none;
}

 